<div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12"></div>
    <div class="col-md-4">
        <img src="/assets/images/FotoJairo.png" class="img img-thumbnail" alt="Jairo Reyes">


        <hr />

        <h3>Angular PWA Demo Application</h3>
        <p>Developed by <a href="https://github.com/jairoareyes">Jairo Reyes</a></p>
        <p>&copy; 2020 All rights reserved by <a href="https://github.com/jairoareyes">Jairo Reyes</a></p>

        <br>
        <p>Example take by <a href="https://vinod.co/view/whoami">Vinod Kumar</a></p>



    </div>
    <div class="col-md-4"></div>
</div>